body {
	color:#3E0909;
	background-color:#FFFFCC;
	font-family: sans-serif;
	margin: 0;
}

a {
	color:#B71A1A;
}

a:visited {
	color:#590D0D;
}

a:hover, a.hover {
	color: #8A1414;
}

header {
	 background-color:#cc0000;
	 color
}

#content {
	width: 100%;
	max-width: 8in;
	margin-left: auto;
	margin-right: auto;
}
 img {
	 max-width: 100%;
	 max-height: 100vh;
 }
